<!DOCTYPE html>
<html>
<head>
    <title></title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	
    <div class="header">
  <h1>Image Search</h1>
</div>

    <form action="/results" method="POST">
        <input type="text" name="lang" placeholder="Search..">
	<input type="submit" value="Search" name="sub">
	<br></br>
        <select name="Language">
            <option selected="selected" value="secret">Language</option>
            {% for l in Languages %}
                <option value="{{ l[0]}}">{{ l[0] }}</option>
            {% endfor %}
        </select>

    </form>

</body>
</html>
