<!---
Course: CST 205
Abstract: This code is used by render_template to generate the page for displaying a single image
at the image search term route. The image title is displayed, as well as the image, and the
image properties are displayed below the image. 
--->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>single image display</title>
</head>
<body>
	<p style="font-size:30px">"{{title}}"</p>
		<!---url_for first parameter is folder, second is filename (taken from id) --->
	<img src ="{{url_for('static', filename=url)}}" class="img-responsive img-rounded" alt=""></img>
	<p>{{mode}} image in {{imgFormat}} format with width {{width}} and height {{height}}.</p>
	<a href="{{url_for('result')}}">Back to list of Images</a>


</body>
</html>

